<aside class="sidebar h-screen px-1 mx-auto bg-[#6867be]" >
  <header>
    <button
      type="button"
      class="sidebar-burger"
      (click)="toggleSidebar()"
    >
      <i class="bx bx-menu"></i>
    </button>
    <img src="/assets/img/logo.svg" />
  </header>
  <ul>
    <li *ngFor="let item of menuItems" >
      <button type="button" (click)="onClick($event, item)">
        <i [class]="item.icon"></i>
        <span aria-hidden="true" class="translate-x-0 text-sm ">
          <!-- <mat-icon class=" scale-75 hover:text-white ">{{item.icon}}</mat-icon> -->
        </span>
        <p>{{ item.name }}</p>
        <i class='bx bx-chevron-down' [ngClass]="{'rotate-90': item.active}"  *ngIf="item.subMenu"></i>
        <mat-icon [ngClass]="{'rotate-90': item.active}" *ngIf="item.subMenu">chevron_right</mat-icon>
      </button>
      <div class="sub-menu" [style.height]="item.active ? item.subMenuHeight : '0px'">
        <ul>
          <li *ngFor="let subItem of item.subMenu" >
            <button type="button" routerLink={{subItem.url}} >{{ subItem.name }}</button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</aside>



